[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
flake8 = "*"

[packages]
pytesseract = "*"
pdf2image = "*"
requests = "*"
python-dotenv = "*"
dataclasses = "*"
pytest = "*"
pypdf = "*"
langchain = "*"
langchain-community = "*"
openai = "*"
langchain-openai = "*"
Pillow = "*"
PyMuPDF = "*"
unstructured = {extras = ["pdf"], version = "*"}
langchain-unstructured = "*"
langchain-core = "*"
ipython = "*"
langchain-chroma = "*"
langchain-ollama = "*"
langchain-text-splitters = "*"

[requires]
python_version = "3.11"
