[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Add development dependencies here

[packages]
pynubank = "*"
python-dotenv = "*"


[requires]
python_version = "3.11"
