[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
flake8 = "*"

[packages]
pytesseract = "*"
pdf2image = "*"
requests = "*"

python-dotenv = "*"
dataclasses = "*"
pytest = "*"
pypdf = "*"
langchain = "*"
langchain-community = "*"

[requires]
python_version = "3.11"
